
body{
    color: #272727;
    background-color: #DBDBDB;
    font-size: 12pt;
    margin-left: 40px;
    margin-right: 40px;
}

#head1 {
    display: inline-block;
    padding: 10px;
    border-bottom: 10px solid #175676;
    margin: 0;
    color: #009FB7;
    font-size: 64px;
}

.navzone{
    display: inline-block;
    position: relative;
    top: 20px;
    padding: 10px;
    background-color: #D6D6D6;
    color: #BA324F;
}

.prose {
    color: Sienna;
    font-size: 24px;
}

a {
    width: 100px;
    color: #4BA3C3 ;
}

a:hover{
    color: #4263AF;
}

a:visited{
    color: #4292AF;
}

a:visited:hover{
    color: #4263AF;
}

#tehlulz{
    font-family: Impact;
}

.content{
    color: #D62839;
    display: inline-block;
    position: relative;
    top: 20px;
}
